/*As pseudo-classes são criações do CSS, você não coloca nada no HTML para que elas existam.*/
/*Elas aplicam estilos a elementos existentes dependendo do estado ou posição desses elementos.*/
/*Você escreve diretamente no CSS usando : seguido do nome da pseudo-classe.*/

/*hover - quando o mouse passa sobre o elemento aplica os estilos*/
.col:hover{
    background-color: aquamarine;
}

/*focus → quando um input ou botão está ativo (clicado ou tabulado)*/
input:focus {
  background-color: black;
  color: white;
}

/*:active → quando o elemento está sendo clicado*/
button:active {
    background-color: darkblue;
    color: white;
    transform: scale(0.95); /* dá a sensação de apertar o botão */
}





/*------------------------------------------------------------------------*/






/*Formatação visual do site, ignorar pra essa aula*/
body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

/*Não se preocupar com isso agora porque é coisa de flex-box*/
.col {
  margin: 1rem 0.5rem 1rem 0.5rem;
  padding: 3rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0px 4px 0px lightgray;
}


.container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100vh;
  background-color: gray;
}

button {
    font-size: large;
    margin: 20px;
    color: green;
}